tensorflow 
tensorflow-hub == 0.12.0
spacy == 3.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
streamlit 
pandas == 1.3.3
numpy == 1.24.3
protobuf~=3.19.0
typer==0.3.2
click>=7.1.1,<8.0
scikit-learn==0.24.2




